@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #363940;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color:#fff;
    font-weight: 700;
    font-size: 1.6em;
}

.nav a {
    color: #a9a9a9;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.nav a:hover {
    color: #fff;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000016;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
}

.main h2{
    text-align: center;
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;   
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #4e9eff;
    font-size: 2em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
    border-style: solid;
    text-align: center;
}

.main-btn:hover{
    background-color: #a9a9a9;
    transform: scale(1.1);
}

.about .card{
    width: 19.25em;
 
}

.social {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.skills{
    background-color: #000016;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
}

.skills .content .card{
    background-color: #fff;
    width: 16.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.skills .content .card:hover{
    transform: scale(1.1);
}

.tools .content .card{
    background-color: #fff;
    width: 16.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.tools .content .card:hover{
    transform: scale(1.1);
}

.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.icon-oop{
    color: #3a6cf4;
    font-size: 4.47em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.icon-c{
    color: #3a6cf4;
    font-size: 4.29em;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.info{
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.tools content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects{
    background-color: #000016;
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 16.25em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card .project-image{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.project-info{
    padding: 1em;
}

.project-category{
    color: #000;
    font-size: 0.9em;
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.project-title-more{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 80px;
}

.contact .card a{
    color: #000;
    text-decoration: none;
}

.more-details{
    text-decoration: none;
    color:#3a6cf4;
}

.more-details:hover{
    color: #000;
}

.footer{
    background-color: #363940;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span a{
    color: #3a6cf4;
    text-decoration: none;
}

@media (max-width: 1023px){
    header{
        padding: 12px 20px;
    }

    .nav a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main h2{
        font-size: 1em;
    }

    .main h3{
        font-size: 1.2em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

    .project-card{
        width: 16.25em;
    }

    .project-title-more{
    margin-top: 75px;
    }

}